.navbar {
  background-color: #2c3e50;
  background-image: linear-gradient(#2c3e50, #202d3b);
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 8rem;
  height: 5rem;
  display: flex;
  align-items: center;
}

/* search */

.search {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1rem;
  border: 1px solid rgba(255, 0, 0, 0);
}

.search:hover,
.search:active {
  border: 2px solid #f1c40f;
  border-radius: 5px;
}

.search input {
  border-radius: 5px 0 0 5px;
  border: none;
  padding: 0;
  outline: none;
  margin: auto;
  height: 1.4rem;
  min-width: 4rem;
  width: 100%;
  background-color: #ecf0f1;
}

.search div {
  height: 1.4rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;
  background-color: #2980b9;
}

/* cart */

.cartdesktop {
  display: none;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.menu {
  margin-left: 2rem;
  margin-right: auto;
}

.cart {
  margin-right: 2rem;
  margin-left: auto;
}

.links {
  display: none;
}

.categorylinks {
  display: none;
}

/* Side menu styling */

.sidemenu {
  width: 90%;
  height: 100%;
  display: inline-flex;
  z-index: 100;
}

.closebutton:hover svg {
  color: red;
}

.sidecategories {
  width: 50%;
  padding: 0.3rem 0 0.3rem 1rem;
  background: white;
}

.sidesubcategories {
  width: 50%;
  background: white;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  color: #2c3e50;
  text-decoration: none;
}

.sidecategories div a {
  color: #2c3e50;
  text-decoration: none;
}

.sidesubcategories div a {
  color: #2c3e50;
  text-decoration: none;
}

.categoryItem svg {
  transition: margin-left 1s;
  margin-left: 40%;
  color: #2c3e50;
}

.categoryItem a {
  color: #2c3e50;
  text-decoration: none;
  width: 40%;
  display: inline-block;
}

.categoryItemMove svg {
  margin-left: 48%;
}

.categoryItemMove {
  background-color: #ecf0f1;
}

.closebutton {
  display: inline-block;
  padding: none;
}

.closebutton svg {
  color: #2c3e50;
  transition: all 0.5s;
}

.closebutton:hover > svg {
  color: #2980b9;
}

@media only screen and (min-width: 768px) {
  /* This is the react transition group which fades in the dropdown menu */

  /* This is the dropdown menu section */

  .dropdown div {
    padding: 0.2rem;
  }

  .categories {
    width: 30%;
    height: 100%;
  }

  .categoryItem a {
    color: #2c3e50;
    text-decoration: none;
    width: 50%;
    display: inline-block;
  }

  .categoryItem svg {
    transition: margin-left 1s;
    margin-left: 30%;
    color: #2c3e50;
  }

  .categoryItemMove svg {
    margin-left: 45%;
  }

  .categoryItemMove {
    background-color: #ecf0f1;
  }

  .subcategories {
    width: 30%;
    height: 100%;
  }

  .subcategories a {
    text-decoration: none;
    color: #2c3e50;
  }

  .categoryImage {
    width: 30%;
    height: 100%;
    margin-left: auto;
  }

  .categoryImage img {
    width: 100%;
    height: 100%;
  }

  .dropdown {
    display: flex;
    padding: 2rem;
    width: 80%;
    height: 80%;
    background-color: white;
    margin: auto;
    color: #2c3e50;
  }

  .links {
    display: flex;
    order: 2;
  }

  .links a {
    color: #ecf0f1;
    margin: 0 1rem;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 1s;
  }

  .links a:hover {
    border-color: #ecf0f1;
  }

  .menu {
    display: none;
  }

  .logo {
    order: 1;
    margin-left: 1.5rem;
  }

  /* Shopping cart below */

  .cart {
    display: none;
  }

  .cartdesktop {
    background-color: #ecf0f1;
    display: flex;
    border-radius: 3px;
    margin: 0 2.5rem 0 2rem;
    order: 3;
    align-items: center;
    justify-content: space-evenly;
    height: 2.5rem;
    transition: all 0.5s;
  }

  .cartdesktop:hover {
    background-color: #2980b9;
  }

  .cartdesktop:hover > * {
    color: #ecf0f1;
    text-decoration: none;
  }

  .cartdesktop a {
    color: #2980b9;
    text-decoration: none;
  }

  .search {
    width: 20%;
    margin-bottom: 0;
    order: 2;
    margin: 0 auto 0 2rem;
  }

  .search input,
  .search div {
    height: 2rem;
  }

  .categorylinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 3rem;
    /* background-color: #bdc3c7; */
    background-image: linear-gradient(#e9eef2, #d5dbe0);
    color: #2c3e50;
  }

  .categorylinks a {
    color: #2c3e50;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 1s;
  }

  .categorylinks a:hover {
    border-color: #2c3e50;
  }
}

@media only screen and (min-width: 1028px) {
  .search {
    width: 25%;
    margin-bottom: 0;
    order: 2;
    margin: 0 auto 0 2rem;
  }

  .links a {
    margin: 0 2rem;
  }
}
