.account {
  color: #2c3e50;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.orderscontainer h3 {
  margin: 1rem 0;
}

.ordersdetails {
  display: flex;
  flex-direction: column;
}

.ordersdetails span {
  display: flex;
  margin: 0.2rem 0;
  flex-direction: column;
}

.largerscreenbanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  color: white;
  padding: 0 1rem;
}

.orderscontainer {
  display: flex;
  flex-direction: column;
}

.orderbtn {
  margin: 0.5rem 0;
  width: 100%;
  padding: 0;
  height: 2.5rem;
  background-color: #bdc3c7;
  border-radius: 3px;
  transition: all 1s;
  border: none;
  color: white;
}

.orderbtn:hover {
  cursor: pointer;
  background-color: #e67e22;
}

@media only screen and (min-width: 768px) {
  .orderscontainer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logoutbtnmobile {
    display: none;
  }

  .orderbtn {
    width: 10%;
    margin: 0;
  }

  .logoutbtn {
    margin: 1rem 0;
    width: 10%;
    padding: 0;
    height: 2.5rem;
    background-color: #bdc3c7;
    border-radius: 3px;
    transition: all 1s;
    border: none;
    color: white;
  }

  .headingscontainer {
    display: flex;
  }

  .ordersdetails {
    flex-direction: row;
  }

  .ordersdetails span,
  .headingscontainer span {
    width: 20%;
    padding: 1rem 0;
    flex-direction: row;
  }

  .ordersdetails span:first-child,
  .headingscontainer span:first-child {
    width: 10%;
    padding: 1rem 0;
    flex-direction: row;
  }
  .ordersdetails span:nth-child(2),
  .headingscontainer span:nth-child(2) {
    width: 25%;
    padding: 1rem 0;
    flex-direction: row;
  }

  .lstbtn {
    display: flex;
    flex-direction: row;

    align-items: center;
    width: 20%;
  }

  .orderbtn {
    width: 48%;
  }
}
