.editproductcontainer {
  width: calc(100% - 2rem);
  padding: 1rem;
  color: #2c3e50;
  height: auto;
  background-color: #ecf0f1;
}

.editproductcontainer h4 a {
  text-decoration: none;
  color: #3498db;
  transition: color 0.3s;
}

.editproductcontainer h4 a:hover {
  color: #f1c40f;
}

.editformcontainer form {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.editformcontainer form input {
  display: block;
  width: 98%;
  padding: 1rem 0;
  margin: 1rem 0;
  border: none;
  outline: none;
  border-radius: 4px;
}

.editformcontainer form input:focus,
.editformcontainer form input:active {
  outline: 1px solid #e67e22;
}

.editformcontainer form input:last-child {
  width: 100%;
}

.editformcontainer a {
  text-decoration: none;
  color: #3498db;
  transition: all 0.3s;
}

.editformcontainer a:hover {
  color: #f1c40f;
}

.editformcontainer {
  width: 100%;
  margin: 1rem auto;
}

input[type='submit'] {
  background-color: #f39c12;
  color: #ecf0f1;
  transition: all 0.3s;
}

input[type='submit']:hover {
  background-color: #d35400;
  color: #ecf0f1;
}

@media only screen and (min-width: 768px) {
  .editformcontainer {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .editformcontainer {
    width: 50%;
  }
}
