.checkoutcontainer {
  width: calc(100%- 2rem);
  height: auto;
  padding: 1rem;
  color: #2c3e50;
  background-color: #ecf0f1;
  position: relative;
}

.ordermodal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 240, 241, 0.8);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orderbtn {
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  background-color: #2ecc71;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  align-self: left;
  transition: background-color 0.3s;
}

.orderbtn:hover {
  cursor: pointer;
  background-color: #27ae60;
}

.continueshoppingbtn {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  margin: 1rem auto;
  background-color: #2ecc71;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.continueshoppingbtn:hover {
  background-color: #27ae60;
  cursor: pointer;
}

.gobackbtn {
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  background-color: #2980b9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  align-self: left;
  transition: background-color 0.3s;
}

.gobackbtn:hover {
  background-color: #3498db;
  cursor: pointer;
}

.checkoutcontainer hr {
  background-color: #bdc3c7;
}

.checkoutcontainer h4 {
  margin: 1rem 0 0.5rem 0;
}

.deliveryaddress span {
  padding: 1rem;
  border: 1px solid #bdc3c7;
  width: calc(100%-2rem);
  display: block;
  border-radius: 3px;
}

.itemcontainer {
  display: flex;
  flex-direction: column;
}

.details {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  /* height: 7rem; */
  width: 100%;

  padding: 1rem;
}

.imagecontainer {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemdetails {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.2rem;
  font-size: 0.8rem;
}

.imagecontainer img {
  width: 80px;
  height: 60px;
  max-width: 100px;
}

@media only screen and (min-width: 1024px) {
  .itemdetails {
    flex-direction: row;
    font-size: 1rem;
    width: 79%;
    justify-content: space-evenly;
  }
}
