.landingpage {
  background-color: #ecf0f1;
  margin: auto;
}

header {
  background-color: #e3e7e8;
  height: auto;
  min-height: 50px;
  font-size: 1.2rem;
  color: #2c3e50;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0.5rem;
}

header span {
  color: #e67e22;
}

.title2 {
  display: flex;
  flex-direction: column;
  margin: 0 0 0.5rem 0;
  padding: 0.5rem;
}

.mainimagemobile {
  width: 100%;
  height: auto;
  text-align: center;
}

.mainimagemobile img {
  width: 80%;
  margin: 0.5rem auto 0.5rem auto;
  height: auto;
}

.mainimagedesktop {
  display: none;
}

/* running section */

.running {
  width: 75%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 1rem auto;
}

.running img {
  width: 100%;
  height: 100%;
}

.catdetailsrunning {
  position: absolute;
  left: 68%;
  top: 66%;
  width: 10%;
  height: 15%;
}

.catdetailsrunning p {
  font-size: 1.4rem;
  margin: 0.2rem 0.2rem 0rem 0;
}

/* cycling section */

.cycling {
  width: 75%;
  height: auto;
  /* margin: auto; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 1rem auto;
}

.cycling img {
  width: 100%;
  height: 100%;
}

.catdetailscycling {
  position: absolute;
  left: 16%;
  top: 1%;
  width: 10%;
  height: 15%;
}

.catdetailscycling p {
  font-size: 1.4rem;
  margin: 0 0.2rem 0rem 0;
}
/* swimming section */

.swimming {
  width: 75%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 1rem auto;
}

.swimming img {
  width: 100%;
  height: 100%;
}

.catdetailsswimming {
  position: absolute;
  left: 80%;
  top: 0%;
  width: 10%;
  height: 15%;
}

.catdetailsswimming p {
  font-size: 1.4rem;
  margin: 0 0.2rem 0rem 0;
}

/* outdoor */

.outdoor {
  width: 75%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 1rem auto;
}

.outdoor img {
  width: 100%;
  height: 100%;
}

.catdetailsoutdoor {
  position: absolute;
  left: 0%;
  top: 52%;
  width: 10%;
  height: 15%;
}

.catdetailsoutdoor p {
  font-size: 1.4rem;
  margin: 0 0.2rem 0rem 0;
}

@media only screen and (min-width: 768px) {
  header {
    font-size: 1.8rem;
  }

  .mainimagemobile {
    display: none;
  }

  .mainimagedesktop {
    display: inline-flex;
    width: 100%;
    max-height: 20%;
    position: relative;
  }

  .mainimagedesktop img:first-child {
    width: 75%;
    margin: 0.5rem auto 0.5rem auto;
    height: auto;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    font-size: 2.5rem;
  }

  .title2 {
    display: flex;
    font-size: 1.8rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .title2 div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
