.maincategory {
  width: 90%;
  margin: auto;
  color: #202d3b;
  height: auto;
  background-color: #ecf0f1;
}

.maincategory p:first-child {
  font-size: 1.5rem;
}

.categorybody {
  display: flex;
}

.categorybody aside {
  width: 30%;
  margin: 0.5rem;
}

.categorybody aside hr {
  background-color: #2c3e50;
}

.categorybody aside ul {
  padding: 0;
}

.categorybody aside li {
  list-style: none;
  margin: 0.5rem 00;
}

.categorybody aside li a {
  text-decoration: none;
  color: #2c3e50;
  margin: 0.2rem 0;
  transition: border-bottom 0.3s;
}

.categorybody aside li a:hover {
  border-bottom: 1px solid #2c3e50;
}

.categorybody main {
  width: 70%;
  height: 20%;
}

.category {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.category img {
  margin: 1rem auto;
  width: calc(100% - 2rem);
}

.category img:first-child {
  margin: 2rem auto 1rem auto;
}

.category img:last-child {
  margin: 1rem auto 2rem auto;
}

@media only screen and (min-width: 768px) {
  .maincategory {
    width: 80%;
  }
  .maincategory p:first-child {
    font-size: 2.5rem;
  }
  .category {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .categorybody aside {
    width: 30%;
    margin: 0.5rem;
  }

  .category img:first-child {
    margin: 1rem;
    width: calc(33% - 2rem);
  }

  .category img:nth-child(3) {
    width: calc(33% - 2rem);
    margin: 1rem;
  }

  .category img:last-child {
    width: calc(100% - 2rem);
    height: 300px;
    margin: 0 1rem 1rem 1rem;
  }
  .category img {
    width: calc(33.333333% - 2rem);
    margin: 1rem;
  }

  .categorybody aside ul {
    padding: 1rem;
  }
}
