.heading {
  color: #2c3e50;
  margin: 0;
  padding: 1rem;
}

.orderscontainer {
  color: #2c3e50;
  width: 100%;
  height: auto;
}

.shippingpaymentcontainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.submitreviewbtn {
  width: 100%;
  margin: 1rem 0;
  border-radius: 5px;
  /* margin-left: 1rem; */
  border: none;
  background-color: #f39c12;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.submitreviewbtn:hover {
  background-color: #f1c40f;
  cursor: pointer;
}

.reviewbtn {
  width: 8rem;
  height: 1rem;
  border-radius: 5px;
  /* margin-left: 1rem; */
  border: none;
  background-color: #2ecc71;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  align-self: left;
  transition: background-color 0.3s;
}

.reviewbtn:hover {
  background-color: #27ae60;
  cursor: pointer;
}

.reviewcontainer {
  width: calc(100%-2rem);
  display: flex;
  flex-direction: column;
  border: 1px solid #2ecc71;
  padding: 1rem;
}

.itemdetails {
  border: 1px solid #bdc3c7;
  padding: 1rem;
  color: #2c3e50;
}

.review {
  resize: none;
  align-self: flex-start;
  min-height: 100px;
  width: 80%;
  background-color: #ecf0f1;
  color: #2c3e50;
  font-size: 1rem;
  outline: none;
  /* border-color: white; */
  display: block;

  border: 1px solid #bdc3c7;
  border-radius: 4px;
  outline: none;
}

.reviewcontainer div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gobackbtn {
  margin: 1rem;
  width: 5rem;
  height: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #2980b9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  align-self: left;
  transition: background-color 0.3s;
}

.gobackbtn:hover {
  background-color: #3498db;
  cursor: pointer;
}

span {
  padding: 0.5rem 0;
}

.orderitemscontainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
}

.star {
  margin: 0.5rem;
  transition: color 0.2s;
}

.star:hover {
  color: #f39c12;
  cursor: pointer;
}

.imagecontainer {
  width: 100%;
  height: 30%;

  display: inline-flex;
  justify-content: center;
}

img {
  width: 90%;
  height: 80%;
}

.hr {
  margin: 1rem 0;
  border-top: 1px solid rgba(189, 195, 199, 1);
}

.status {
  background-color: rgba(46, 204, 113, 0.4);
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ordersummarycontainer {
  margin: 1rem;
  border: 1px solid #bdc3c7;
  width: calc(100% - 2rem);
  height: auto;
  display: flex;
  flex-direction: column;
}

.ordersummarycontainer h3,
.ordersummarycontainer span {
  border-bottom: 1px solid #bdc3c7;
  padding: 0.5rem;
  margin: 0;
}

.ordersummarycontainer span:last-child {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .heading {
    padding: 2rem;
    width: 100%;
  }
  .orderscontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .review {
    width: 100%;
  }

  .shippingpaymentcontainer {
    width: 45%;
    order: 1;
  }

  .ordersummarycontainer {
    width: 45%;
    order: 2;
  }

  .gobackbtn {
    margin: 1rem 0 0 2rem;
  }

  .orderitemscontainer {
    order: 3;
    width: 100%;
    padding: 0 3rem;
  }

  .reviewcontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .itemdetails {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
  }
  .details {
    font-size: 1.4rem;
  }

  .imagecontainer {
    width: 3rem;
    height: 3rem;

    display: inline-flex;
    justify-content: center;
  }
}
