.product {
  color: #2c3e50;
  padding: 1rem;
  background-color: #ecf0f1;
  position: relative;
}

.title,
.price {
  font-size: 2rem;
  margin: 0;
}
.basketmodal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 240, 241, 0.8);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basket {
  width: 50%;
  height: 40%;
  margin: auto;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.basket h2 {
  display: inline-block;
  margin: auto;
}

.error {
  margin: 1rem auto;
  width: 100%;
  padding: 0;
  height: 2.5rem;
  background-color: rgba(231, 76, 60, 1);
  border-radius: 3px;
  transition: all 1s;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  background-color: #95a5a6;
  width: 95%;
  margin: 1rem auto;
}

.productinfo {
  display: flex;
  flex-direction: column;
}

.continueshoppingbtn {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  margin: 1rem auto;
  background-color: rgba(189, 195, 199, 1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.continueshoppingbtn:hover {
  background-color: rgba(149, 165, 166, 1);
  cursor: pointer;
}

.checkoutbtn {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  margin: 1rem auto;
  background-color: #f39c12;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.checkoutbtn:hover {
  background-color: rgba(230, 126, 34, 1);
  cursor: pointer;
}

.sizecontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: block;
  width: 100%;
  margin: auto;
  min-height: 2rem;
  height: auto;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 20px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

option {
  width: 100%;
}

.sizecontainer form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.2rem;
}
.qtybtn1 {
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: #2c3e50;
  color: white;
  transition: all 0.5s;
  border-radius: 5px 0 0 5px;
}
.qtybtn2 {
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: #2c3e50;
  color: white;
  transition: all 0.5s;
  border-radius: 0 5px 5px 0;
}

.gobackbtn {
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  background-color: #2980b9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  align-self: left;
  transition: background-color 0.3s;
}

.gobackbtn:hover {
  background-color: #3498db;
  cursor: pointer;
}

.qtybtn:hover {
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: #f1c40f;
  color: #2c3e50;
}

input {
  height: 2rem;
  width: 40%;
  outline: none;
  padding: 0.2rem;
}

.addtocartbtn {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  margin: 1rem auto;
  background-color: #f39c12;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.addtocartbtn:hover {
  background-color: #d35400;
}

@media only screen and (min-width: 768px) {
  .productinfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .column2 {
    width: 49%;
    order: 1;
    padding: 0 1rem;
  }

  .column1 {
    order: 2;
    width: 49%;
  }
}
