.productitems {
  display: flex;
  flex-direction: column;
}

.products {
  width: 100%;
}

.products span:first-child {
  margin-left: 1rem;
}

.products span a {
  color: #2c3e50;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.products span a:hover {
  text-decoration: underline;
  color: #f39c12;
}

@media only screen and (min-width: 768px) {
  .productitems {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
