.shoppingbasket {
  color: #2c3e50;
  padding: 1rem;
}

.buttoncheckout {
  margin: 1rem auto;
  width: 100%;
  padding: 0;
  height: 2.5rem;
  background-color: #f39c12;
  border-radius: 3px;
  transition: all 1s;
  border: none;
  color: white;
}

.error {
  margin: 1rem auto;
  width: 100%;
  padding: 0;
  height: 2.5rem;
  background-color: rgba(231, 76, 60, 1);
  border-radius: 3px;
  transition: all 1s;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gobackbtn {
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  background-color: #2980b9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  align-self: left;
  transition: background-color 0.3s;
}

.gobackbtn:hover {
  background-color: #3498db;
  cursor: pointer;
}

.buttonshopping {
  margin: 1rem auto;
  width: 100%;
  padding: 0;
  height: 2.5rem;
  background-color: #bdc3c7;
  border-radius: 3px;
  transition: all 1s;
  border: none;
  color: white;
}

.buttoncheckout:hover {
  background-color: #e67e22;
  color: white;
  cursor: pointer;
}

.buttonshopping:hover {
  background-color: #95a5a6;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .buttoncontainer {
    display: flex;
    justify-content: space-between;
  }

  .buttonshopping,
  .buttoncheckout {
    width: 30%;
    margin: 0;
  }
}
