.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  width: 8rem;
  padding: 1rem;
  border-bottom: 1px solid#bdc3c7;
  border-top: 1px solid#bdc3c7;
  color: #2c3e50;
  border-left: 10px solid white;
  transition: border-color 0.1s;
}

.dropbtn:hover {
  border-left: 10px solid #f1c40f;
}

.dropbtnclicked {
  border-left: 10px solid #f1c40f;
  border-bottom: none;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-left: 10px solid #f1c40f;
  color: #2c3e50;
  padding: 1rem;
}

.dropdownclicked {
  display: inline-block;
  flex-wrap: wrap;
  margin-bottom: 1rem solid #f1c40f;
}

.inputvalues {
  border: 1px solid #bdc3c7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
  border-radius: 3px;
}

.inputvalues input {
  width: 50%;
  height: 1rem;
  border: none;
  display: inline-block;
}

.inputvalues input:focus {
  outline: 2px solid #f1c40f;
}

button {
  border: none;
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0 1rem 0;
  background-color: #f1c40f;
  transition: all 1s;
}

button:hover {
  border: none;
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0 1rem 0;
  background-color: #f39c12;
}

button:focus {
  outline: none;
}
