.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  width: 9rem;
  padding: 1rem;
  border-bottom: 1px solid#bdc3c7;
  border-top: 1px solid#bdc3c7;
  color: #2c3e50;
  border-left: 10px solid white;
  transition: border-color 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropbtn:hover {
  border-left: 10px solid #f1c40f;
  cursor: pointer;
}

.dropbtnclicked {
  border-left: 10px solid #f1c40f;
  border-bottom: none;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 9rem;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-left: 10px solid #f1c40f;
  color: #2c3e50;
  padding: 1rem;
}

.dropdownclicked {
  display: inline-block;
  flex-wrap: wrap;
  margin-bottom: 1rem solid yellow;
}

.inputbtn {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0.2rem;
  border: none;
  text-decoration: none;
  display: inline-block;
  outline: none;
  transition: all 0.2s;
}

.dropdowncontent div {
  padding-bottom: 1rem;
}

.dropdowncontent:last-child {
  padding-bottom: 0;
}

.clearselection {
  border: none;
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #f1c40f;
  transition: all 1s;
  border-radius: 3px;
}

.clearselection:hover {
  outline: none;
  background-color: #f39c12;
}

.clearselection:focus {
  outline: none;
}
