.itemcontainer {
  display: flex;
  flex-direction: column;
}

.details {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0 0 0;
  height: 7rem;
  width: 100%;
  padding: 1rem;
}

.error {
  margin-right: auto;
  font-size: 1rem;
  color: #e74c3c;
}

.imagecontainer {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemdetails {
  width: 30%;

  padding: 0 0.2rem;
}

.imagecontainer img {
  width: auto;
  height: 80%;
  padding: 0.5rem;
}

.qtybtn1 {
  height: 2rem;
  width: 2rem;
  border: none;
  margin-left: 0.5rem;
  background-color: #2c3e50;
  color: white;
  transition: all 0.5s;
  border-radius: 3px;
}
.qtybtn2 {
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: #2c3e50;
  color: white;
  transition: all 0.5s;
  border-radius: 3px;
}

.bin {
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: #2c3e50;
  color: white;
  transition: all 0.5s;
  border-radius: 3px;
  margin: 0 0 0 5%;
}

.priceandquanity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount {
  display: inline-flex;
  width: 2rem;
  height: calc(2rem - 2px);
  border: 1px solid grey;
  margin: 0 0.5rem;
  justify-content: center;
  align-items: center;
}

.rule {
  background-color: red;
}

.qtybtn:hover {
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: #f1c40f;
  color: #2c3e50;
}

@media only screen and (min-width: 768px) {
  .itemcontainer {
    flex-direction: row;
  }
  .priceandquanity {
    width: 40%;
  }
  .itemcost {
    margin-right: 1rem;
  }
  .details {
    width: 50%;
    justify-content: space-between;
  }
}
