.carousel {
  display: flex;
  position: relative;
  overflow: hidden;
}

.carousel div {
  scroll-snap-align: start;
  flex-shrink: 0;

  width: 100%;
  height: 300px;
  right: 0%;
  position: relative;
  transition: all 2s;
}

.carouselmoveright div {
  right: +100%;
}

.carouselmoveleft div {
  right: -100%;
}

.carousel div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
