.carousel {
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 1rem 0;
}

.carousel div {
  scroll-snap-align: start;
  flex-shrink: 0;
  display: flex;
  width: 100%;
  height: 250px;
  justify-content: center;
  right: 0%;
  position: relative;
  transition: all 0.5s;
}

.carouselmoveright div {
  right: +100%;
}

.carouselmoveleft div {
  right: -100%;
}

.carousel div img {
  object-fit: cover;
  margin-top: 1rem;
  width: 80%;
  height: 100%;
}

.carousel div span {
  display: none;
}

.carousel div span span {
  font-size: 3rem;
  color: #2c3e50;
  height: 3rem;
}

.carousel div span span p {
  font-size: 3rem;
  color: #2c3e50;
  height: 2rem;
}

@media only screen and (min-width: 768px) {
  .carousel div img {
    object-fit: contain;
    width: 50%;
    height: 100%;
  }

  .carousel div span {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
