.productitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #bdc3c7;
  height: 300px;
  width: 100%;
  flex-wrap: wrap;
}

.name {
  color: #2980b9;
}

.price {
  font-size: 1.2rem;
  color: #2c3e50;
}

.productitem div {
  width: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.outofstock {
  color: #e74c3c;
  width: 100%;
  font-size: 1rem;
}

.stars {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
}

.reviews {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.outofstockdiv {
  width: 100%;
  height: 30px;
}

.productitem div a {
  display: flex;
}

.productitem div img {
  width: 75%;
  height: 75%;
  margin: auto;
}

.productdetails div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.productdetails p {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .productitem {
    width: 50%;
    height: 400px;
  }

  .price {
    font-size: 1.5rem;
    color: #2c3e50;
  }

  .name {
    font-size: 1.2rem;
  }

  .productdetails {
    display: block;
  }

  .productitem > div {
    width: 40%;
    display: flex;
    overflow: hidden;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .productitem {
    height: 450px;
  }
  .price {
    font-size: 1.8rem;
    color: #2c3e50;
  }

  .name {
    font-size: 1.4rem;
  }
}
