.productitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #bdc3c7;
  height: 200px;
  width: 100%;
}

.name {
  color: #2980b9;
}

.price {
  font-size: 1.2rem;
  color: #2c3e50;
}

.productitem div {
  width: 50%;

  display: flex;
  justify-content: center;
  overflow: hidden;
}

.productitem div img {
  width: 75%;
  height: 75%;

  margin: auto;
}

.productdetails div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productdetails p {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .productitem {
    width: 50%;
    height: 220px;
  }

  .price {
    font-size: 1.5rem;
    color: #2c3e50;
  }

  .name {
    font-size: 1.2rem;
  }

  .productdetails {
    display: block;
  }

  .productitem div {
    width: 50%;
    display: flex;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1024px) {
  .productitem {
    height: 300px;
  }
  .price {
    font-size: 1.8rem;
    color: #2c3e50;
  }

  .name {
    font-size: 1.4rem;
  }
}
