* {
  box-sizing: border-box;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.myslides img {
  vertical-align: middle;
  width: 80%;
  height: 200px;
  margin: 1rem auto;
  max-height: 320px;
}

/* Slideshow container */
.slideshowcontainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
  width: 100%;
  max-height: 500px;
}

.myslides {
  background-color: white;
  display: flex;
  align-items: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  width: auto;
  padding: 0.5rem;
  margin-top: -22px;
  color: #2c3e50;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border: 1px solid #bdc3c7;
}

.prev:hover,
.next:hover {
  background-color: #f1c40f;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #f1c40f;
}

.imagegallery span {
  display: inline-flex;
  width: 5rem;
  height: 5rem;
  border: 1px solid grey;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 1rem;
}

.imagegallery span img {
  width: 95%;
  height: 95%;
}

@media only screen and (min-width: 768px) {
  .myslides img {
    height: 300px;
  }
}
